@model PasswordManager.Models.Entities.Center

@{
    ViewBag.Title = "Edit";
    ViewBag.SumbitTitle = "Save";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_CenterForm", @Model)
}

<div>
    @Html.ActionLink("Back to List", "Index", new { province = "All" }, new { @class = "btn btn-link" })
</div>


