@model PasswordManager.Models.Entities.Center

@{
    ViewBag.Title = "Edit";
    ViewBag.SumbitTitle = "Save";
}

@section Styles {
    <link href="~/Content/select2/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2-bootstrap.css" rel="stylesheet" />
}

<h2>Edit Art Centre - @Model.Name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_CenterForm", @Model)
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</div>


@section Scripts {
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#CityId').select2({
            });
        });
    </script>
}