@model PasswordManager.Models.Entities.Movie

@{
    ViewBag.Title = "Create";
    ViewBag.SumbitTitle = "Create";
}

@section Styles {
    <link href="~/Content/select2/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2-bootstrap.css" rel="stylesheet" />
}

<h2>Add a new Movie</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_MovieForm", @Model)
}


<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#DirectorId').select2({
            });
        });
    </script>
}