@model PasswordManager.Models.Entities.Movie

@{
    ViewBag.Title = "Edit";
    ViewBag.SumbitTitle = "Save";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_MovieForm", @Model)
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




