body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Menus */
div.navbar-header > a.navbar-brand {
    margin-right: 100px;
    padding-top: 10px;
}

ul.main-toolbar a.icon-menu {
    margin-right: 15px;
}

table.movie-table a.icon-menu,
table.company-list a.icon-menu,
div.director-info a.icon-menu,
div.category-info a.icon-menu,
div.password-info a.icon-menu {
    margin-right: 10px;
}

div.director-info div.director-name > h3,
div.password-info div.company-name > h3 {
    margin-top: 5px; margin-left: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Movie List */
table.movie-table > tbody > tr > td {
    padding-left: 1.5em;
} 

