@model PasswordManager.Models.Entities.Category

@{
    ViewBag.Title = "Create Category";
    ViewBag.SumbitTitle = "Create";
}

<h2>A New Category</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_CategoryForm", @Model)
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
