@model PasswordManager.Models.Entities.Company

@{
    ViewBag.Title = "Create";
    ViewBag.SumbitTitle = "Create";
}

<h2>A New Company</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_CompanyForm", @Model)
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
