@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<hr />

<div class="row">
    <div class="col-sm-4">
        <h4>About this Site</h4>
        <p>This is for the management of your accounts(user names and passwords).</p>
    </div>
    <div class="col-sm-4">
        <h4>About the Technology</h4>
        <ul>
            <li>ASP.NET MVC5</li>
            <li>EntityFramework 6</li>
            <li>jQuery 2.0.x</li>
            <li>Bootstrap 3.0.x</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h4>About the Developer</h4>
        <p>Ddung</p>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $("#about-link").addClass("active");
        });
    </script>
}