@model PasswordManager.Models.PasswordListViewModel

@{
    ViewBag.Title = "Password Manager";
}

<h2>Manage User Names and Passwords</h2>
<br />

<div class="row">
    <div class="col-sm-1">
        <a href="@Url.Action("Index", "Home", new { searchTerm = "" })" title="Refresh" class="btn btn-warning"><i class="fa fa-refresh"></i></a>
    </div>
    <div class="col-sm-11 text-right">
        @using (Ajax.BeginForm(
        null,
        null,
        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "passwordList"
        },
        new { @class = "form-inline", role = "form" }
        ))
        {
            <div class="form-group">
                <input type="search" name="searchTerm" class="form-control" value="@Model.SearchString" />
                <button id="searchBtn" type="submit" class="form-control btn btn-info" title="Search by Company"><i class="fa fa-search"></i></button>
            </div>
        }
    </div>
</div>
<br />

@Html.Partial("_List", Model.Passwords)

@section Scripts {
@Scripts.Render("~/bundles/jqueryajax")
    <script>

        $(function () {
            $('#passwordInfo').on('hidden.bs.modal', function (e) {
                $(this).removeData('bs.modal');
            });
        });

    </script>
}
